# Data Science Tools and Ecosystems

## Author
# Paloma

# In This Notebook, Data Science Tools and Ecosystems are Summarized.

# **Objectives**
- List Popular Languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of arithmetic expression in python

# Some of the Popular Languages that Data Scientists use are:
- Python
- R
- Julia

# Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Lattice
- Pandas

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expression in python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335